*{
	font-family: Helvetica;
}

.logo{
	width: 22%;
	margin: 10px 60px;
}

nav ul{
	list-style: none;
	margin: 0 0 0 30px;
	color: #9B999A;
}

nav ul li{
	float: left;
	margin: 45px 0px;
	border-right: 1px solid #9B999A;
	padding: 0 30px;
}

.cabeza{
	background: rgb(255, 255, 255);
	width: 100%;
	position: fixed; 
	z-index:3; 
	display: block;
}
.imagen{
	width: 100%;
	height: 480px;
	background-image: url(../img/semilla.jpg);
}

.plomo{
	width: 101.1%;
	height: 200px;
	margin: auto;
}

.semi{
	text-align: center;
	margin: 80px 170px;
}

.blanco{
	position: relative;
}

.misi{
	margin: auto;
	padding: 30px 80px 50px 100px;
}

.mision{
	margin: 40px 80px 10px 80px;
	width: 150px;
}

.meto{
	width: 100%;
	height: 330px;
	object-fit: cover;
	position: relative;
}

.verde{
	width: 110%;
	height: 330px;
	background-image: url(../img/fondo.jpg);
	margin: auto;
	padding: 80px 80px;
}

.ico{
	padding: 10px;
}

.servi{
	padding: 70px 100px;
}

.ser{
	padding: 80px 100px;
}

.servicios{
	margin: 0 0 100px 0;
}

.pic{
	width: 100%;
}

.parrafo{
	margin: 100px 0 0 0;
}

.china{
	border-radius: 50%;
	width: 50%;
	padding: 0 0 5% 0;
}

.equipo{
	padding: 60px 5% 10px;
}

.equi{
	padding: 0 10% 0 12%;
}

.red{
	width: 15%;
	padding: 8px;
}

.blog{
	width: 100%;
}

.blo{
	background-image: url(../img/fondo2.jpg);
	width: 100%;
	padding: 1% 3%;
}

.derecha{
	position: absolute;
	padding: 17% 0;
}

.pie{
	padding: 5% 3%;
}

.cuadro{
	border: 1px solid #fff;
	width: 25%;	
	height: 230px;
	float: left;
}

.letra{
	padding: 20px;
}

.face{
	position: relative;
	left: 50%;
	top: 110px;
	width: 14%;
}